﻿@model ReduceNetworkBandwith.Models.Home

@{
    Layout = "~/Views/Shared/_BundledLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" id="btnHide">Bootstrap button</a>

<div class="row" id="toHide">
    <div class="col-md-12">
        <h3>Content</h3>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("/Scripts/site.js")"></script>
    @*<script src="@Url.Content("/bundles/site")"></script>*@
}

