﻿@model List<Routing.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>
            @Html.ActionLink(product.Name,"Detail", new { Id = product.Id })
        </li>
    }
</ul>

