﻿@model Routing.Areas.WebShop.Models.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>

<ul>
    @foreach (var cartItem in Model.Items)
    {
        <li>@cartItem.Amount x @cartItem.Product.Name</li>
    }
</ul>

<h3>Total Price: € @Model.TotalPrice</h3>

